/* javascript here */
#clock {
background: rgb(227, 22, 22);
color: white;
}
/* Style for the navigation menu */
nav ul {
margin: 0;
padding: 0;
list-style-type: none;
position: relative; /* Make the nav a positioned container */
z-index: 2; /* Ensure the nav is above the background image */
}

/* Style for navigation list items */
nav li {
display: inline-block;
margin: 0 10px;
}

/* Style for navigation links */
nav a {
text-decoration: none;
padding: 10px 20px;
color: white;
transition: background-color 0.3s ease;
border-radius: 10px; /* Round the corners */
}

/* Hover effect for navigation links */
nav a:hover {
background-color: rgb(255, 60, 60);
}

body {
background: white;
color: black;
font-family: Arial, Helvetica, sans-serif;

margin: 0;
padding: 0;
}
header {
  background: rgb(227, 22, 22);
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

/* section list */
section {
  background: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.section.section-secondary{
background:white; 
}

/* 
about
*/
.about{
margin:0;
display: flex;
}
/* .about-image{} */
.about-caption{
padding-left: 15px;
}
.about-headline{
margin: 0 0 20px;
font-size: 30px;
}
.about-description{
font-style: italic;
font-size: 25px;
margin: 12px;
}
div {
background: rgb(224, 255, 255);
margin: auto;

}

/* footer here */
footer {
background: rgb(227, 22, 22);
padding: 15px;
}    