
/*margin and padding can be taken out in the body if you like it better*/

body {
  background: white;
  color: rgb(252, 252, 252);
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}
#clock{
  background: rgb(227, 22, 22);
  color: rgb(216, 214, 214);
}
nav li {
  display: inline-block;
  margin: 0 10px;
}
nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 10px; /* Round the corners */
}
nav a:hover {
  background-color: rgb(255, 60, 60);
}
header {
  background: rgb(227, 22, 22);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}
h1 {
  color: rgb(255, 255, 255);
}
h2{
  color: red;
}
section {
  background: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
div {
  background: white;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
  margin: 5px;

}
a {
  text-decoration: none;
  color: #0070c9;
}
.para{
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
.href{
  display: flex;
  flex-direction: column;
}

a:hover {
  text-decoration: underline;
}


.product, .offer {
display: flex;
flex-shrink: 100;
flex-direction: row;
padding: 10px;
margin: 10;
color: white;
background-color: rgb(227, 22, 22);
width:auto;
}
footer {
  background: rgb(227, 22, 22);
  padding: 15px;
}
