/* Global styling for the body */
body {
  background: white;
  color: rgb(252, 252, 252);
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}

/* Clock styling */
#clock{
  background: rgb(227, 22, 22);
  color: rgb(216, 214, 214);
}

/* Styling for navigation list items */
nav li {
  display: inline-block;
  margin: 0 10px;
}

/* Styling for navigation links */
nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 10px; /* Round the corners */
}

/* Hover effect for navigation links */
nav a:hover {
  background-color: rgb(255, 60, 60);
}

/* Styling for the header section */
header {
  background: rgb(227, 22, 22);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

/* Styling for h1 element */
h1 {
  color: rgb(255, 255, 255);
}

/* Styling for h2 element */
h2{
  color: red;
}

/* Styling for the main section */
section {
  background: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Styling for div elements */
div {
  background: white;
}

/* Styling for unordered lists */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Styling for list items */
li {
  display: inline-block;
  margin: 5px;
}

/* Styling for anchor tags */
a {
  text-decoration: none;
  color: #0070c9;
}

/* Styling for inline paragraphs */
.para{
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

/* Styling for links with hover effect */
a:hover {
  text-decoration: underline;
}

/* Styling for product and offer sections */
.product, .offer {
  display: flex;
  flex-shrink: 100;
  flex-direction: row;
  padding: 10px;
  margin: 10;
  color: white;
  background-color: rgb(227, 22, 22);
  width:auto;
}

/* Styling for the footer section */
footer {
  background: rgb(227, 22, 22);
  padding: 15px;
  text-align: center;
  position: relative;
}
