/* styles.css */

body {
  background: rgb(255, 255, 255);
  color: rgb(44, 62, 80);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgb(227, 22, 22);
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

.logo {
  max-width: 100%;
  height: auto;
  width: 500px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: rgb(227, 22, 22);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgb(255, 60, 60);
}

h1 {
  color: white;
  font-size: 2.5em;
  margin: 0;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-section, .info-section {
  background: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}

.red-text-background {
  background-color: rgb(227, 22, 22);
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.red-text-background a {
  color: white;
  text-decoration: underline;
}

.red-text-background a:hover {
  color: #ffc107; /* Change the color on hover if needed */
}

.red-text {
  color: white;
}

footer {
  background: rgb(227, 22, 22);
  padding: 15px;
  text-align: center;
}
