body {
  background: url('Images/StarPower.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgb(227, 22, 22);
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

.logo {
  max-width: 100%;
  height: auto;
  width: 500px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 2;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

nav a:hover {
  background-color: rgb(255, 60, 60);
}

h1 {
  color: white;
  font-size: 2.5em;
  margin: 0;
  z-index: 1;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

section.welcome-section::before,
footer::before {
  content: '';
  background: url('Images/StarPower.png') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.welcome-section,
.info-section {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}

.red-text-background {
  background-color: rgb(227, 22, 22);
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  width: 100%;
  margin: 100px auto 20px; /* Adjust the top margin as needed */
}

.red-text-background a {
  color: white;
  text-decoration: underline;
}

.red-text-background a:hover {
  color: #ffc107;
}

.red-text {
  color: white;
}

footer {
  background: rgb(227, 22, 22);
  padding: 15px;
  text-align: center;
  position: relative;
}

footer a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  position: relative;
  z-index: 10; /* Set a higher z-index to bring it to the front */
}

footer a:hover {
  background-color: rgb(255, 60, 60);
}

footer::before {
  content: '';
  background: url('Images/StarPower.png') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95%, -50%);
}

.wrapper img {
  max-width: 200%;
  height: auto;
}

.luigi-walk {
  width: 2%;
  height: 45px;
  display: block;
  margin: auto;
  margin-top: 35px;
  position: relative;
  z-index: 3;
  animation: luigiWalk 30s linear infinite;
}

@keyframes luigiWalk {
  0% {
    left: -1000px;
  }
  100% {
    left: calc(47% + 50px);
  }
}
